* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(hsl(240, 44%, 71%), #ffffff);
    width: 100%;
    min-height: 100vh;
}

header {
    background: rgba(0, 0, 80, 0.7);
    width: 100%;
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

 nav {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo { 
     color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
      margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav ul li a:hover {
      color: #ff4444;
}

section
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 60px auto;
    gap: 40px;
}


.text {
    width: 50%;
    color: #000033;
}

.text h2 {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 700;
    border-left: 6px solid rgb(0, 0, 130);
    padding-left: 12px;
    margin-bottom: 10px;
}

.text p {
    font-size: 18px;
    line-height: 1.5;
    margin: 7px 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.image {
    width: 50%;
    display: flex;
   justify-content: center;
}
.center- image{
  display:block;
  margin:0 auto;
}
.image img {
    width: 100%;
    max-width: 600px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}


.div6 nav {
    background: rgba(0, 0, 80, 0.7);
    padding: 20px;
    width: 70%;
    margin: auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

.div6 nav ul  {
    display: flex;
   gap: 25px;
   list-style: none;
}

.div6 nav ul li a {
    color: white;
    text-decoration: underline;
    font-size: 18px;
    transition: 0.3s ease;
}

.div6 nav ul li a:hover {
    color: #ff4444;
}


@media (max-width:1200px){
    .image img {
      max-width: 450px;
    }
}


@media (max-width: 900px) {
    section {
        flex-direction: column;
        text-align: center;
    }


    .text, .image{
        width: 90%;
    }
nav{
    flex-direction: column;
    text-align: center;
}
 .div6 nav ul{
    flex-direction: column;
    text-align: center;
    gap: 15px;
 }
}